In [2]:
import numpy as np 
import pandas as pd
from pandas import Series, DataFrame

# Webscraping
## To talk to API, you need to import the requests package establishes connection between jupyter notebook and API

In [3]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup

### Retrieving the information from the url and store in the "r" variable
#### The information is saved in a JSON format as a string datatype

In [4]:
url = "https://api.exchangeratesapi.io/latest"
r = requests.get(url)
type(r.text)

str

In [7]:
# This changes the value in "base" from EUR to USD
r = requests.get(url, params = {"base": "USD"})
print(r.text)

{"rates":{"CAD":1.4161682074,"HKD":7.7541236179,"ISK":139.8404930216,"PHP":50.9298531811,"DKK":6.7669929309,"HUF":325.1042233098,"CZK":24.7553017945,"GBP":0.805691499,"RON":4.3753851731,"SEK":10.0031720138,"IDR":16393.0034439007,"INR":75.6751857894,"BRL":5.1215334421,"RUB":79.8790103317,"HRK":6.911818017,"JPY":108.1566068515,"THB":32.6998368679,"CHF":0.9580387892,"EUR":0.9062896502,"MYR":4.3326083016,"BGN":1.7725212978,"TRY":6.5683342396,"CNY":7.0996012326,"NOK":10.5934384629,"NZD":1.6680261011,"ZAR":17.8798259924,"USD":1.0,"MXN":23.7864781584,"SGD":1.4257748777,"AUD":1.6332245786,"ILS":3.5838317926,"KRW":1224.8685880007,"PLN":4.124433569},"base":"USD","date":"2020-03-30"}

### Extracting just rates using the JSON package

In [10]:
import json

# .loads() function converts the JSON strings into dictionary values
rates_json = json.loads(r.text)["rates"]

In [20]:
# rates_json
# rates_json["GBP"]
gbp = float(rates_json["GBP"])
print("200USD = ", str(gbp*200), "GBP")

200USD =  161.1382998 GBP

### Saving dictionary value in a variable

In [21]:
sales = [(rates_json)]

### Creating a dataframe from a dictionary value

In [28]:
df = pd.DataFrame(sales)
df

,CAD,HKD,ISK,PHP,DKK,HUF,CZK,GBP,RON,SEK,...,NOK,NZD,ZAR,USD,MXN,SGD,AUD,ILS,KRW,PLN
0,1.416168,7.754124,139.840493,50.929853,6.766993,325.104223,24.755302,0.805691,4.375385,10.003172,...,10.593438,1.668026,17.879826,1.0,23.786478,1.425775,1.633225,3.583832,1224.868588,4.124434

#### .transpose() swaps columns and rows

In [29]:
df = df.transpose()
df

                0
CAD      1.416168
HKD      7.754124
ISK    139.840493
PHP     50.929853
DKK      6.766993
HUF    325.104223
CZK     24.755302
GBP      0.805691
RON      4.375385
SEK     10.003172
IDR  16393.003444
INR     75.675186
BRL      5.121533
RUB     79.879010
HRK      6.911818
JPY    108.156607
THB     32.699837
CHF      0.958039
EUR      0.906290
MYR      4.332608
BGN      1.772521
TRY      6.568334
CNY      7.099601
NOK     10.593438
NZD      1.668026
ZAR     17.879826
USD      1.000000
MXN     23.786478
SGD      1.425775
AUD      1.633225
ILS      3.583832
KRW   1224.868588
PLN      4.124434

In [32]:
# finding the index of the dataframe
df.index

Index(['CAD', 'HKD', 'ISK', 'PHP', 'DKK', 'HUF', 'CZK', 'GBP', 'RON', 'SEK',
       'IDR', 'INR', 'BRL', 'RUB', 'HRK', 'JPY', 'THB', 'CHF', 'EUR', 'MYR',
       'BGN', 'TRY', 'CNY', 'NOK', 'NZD', 'ZAR', 'USD', 'MXN', 'SGD', 'AUD',
       'ILS', 'KRW', 'PLN'],
      dtype='object')

In [36]:
# this adds numerical indexes to the dataframe
df.reset_index(inplace = True)
df

    level_0 index             0
0         0   CAD      1.416168
1         1   HKD      7.754124
2         2   ISK    139.840493
3         3   PHP     50.929853
4         4   DKK      6.766993
5         5   HUF    325.104223
6         6   CZK     24.755302
7         7   GBP      0.805691
8         8   RON      4.375385
9         9   SEK     10.003172
10       10   IDR  16393.003444
11       11   INR     75.675186
12       12   BRL      5.121533
13       13   RUB     79.879010
14       14   HRK      6.911818
15       15   JPY    108.156607
16       16   THB     32.699837
17       17   CHF      0.958039
18       18   EUR      0.906290
19       19   MYR      4.332608
20       20   BGN      1.772521
21       21   TRY      6.568334
22       22   CNY      7.099601
23       23   NOK     10.593438
24       24   NZD      1.668026
25       25   ZAR     17.879826
26       26   USD      1.000000
27       27   MXN     23.786478
28       28   SGD      1.425775
29       29   AUD      1.633225
30       30   ILS      3.583832
31       31   KRW   1224.868588
32       32   PLN      4.124434

In [41]:
df = df.rename(columns = {"index": "country", 0: "exchange_rate"})

### After all that cleaning... you now have a dataframe which you can analyse

In [42]:
df

   country  exchange_rate
0      CAD       1.416168
1      HKD       7.754124
2      ISK     139.840493
3      PHP      50.929853
4      DKK       6.766993
5      HUF     325.104223
6      CZK      24.755302
7      GBP       0.805691
8      RON       4.375385
9      SEK      10.003172
10     IDR   16393.003444
11     INR      75.675186
12     BRL       5.121533
13     RUB      79.879010
14     HRK       6.911818
15     JPY     108.156607
16     THB      32.699837
17     CHF       0.958039
18     EUR       0.906290
19     MYR       4.332608
20     BGN       1.772521
21     TRY       6.568334
22     CNY       7.099601
23     NOK      10.593438
24     NZD       1.668026
25     ZAR      17.879826
26     USD       1.000000
27     MXN      23.786478
28     SGD       1.425775
29     AUD       1.633225
30     ILS       3.583832
31     KRW    1224.868588
32     PLN       4.124434